<!doctype html>
<html lang="en">
    
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">

    <title>FCC Voting App</title>
  </head>
  
  <body class="container-fluid">

    <nav id="navigationbar" class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark">
      <a class="navbar-brand">YP</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/">Home</a>
          <% if(currentUser) { %>
            <a class="nav-item nav-link" href="/user/<%= currentUser._id %>">My Profile</a>
            <a class="nav-item nav-link" href="/poll/new">Create New Poll</a>
          <% } %>
        </div>
        <div class="navbar-nav ml-auto">
          <% if(!currentUser) { %>
            <a class="nav-item nav-link justify-content-right" href="/login">Login</a>
            <a class="nav-item nav-link justify-content-right" href="/signup">Signup</a>
          <% } else {%>
            <a class="nav-item nav-link justify-content-right remover"><em>Welcome <%= currentUser.username %></em></a>
            <a class="nav-item nav-link justify-content-right" href="/logout">Logout</a>
          <% } %>
        </div>
      </div>
    
    
    </nav>
      
    <% if(error && error.length > 0) { %>
      <div class="alert alert-danger alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%=error %>
      </div>
    <% } %>
     
    <% if(warning && warning.length > 0) { %>
      <div class="alert alert-warning alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= warning %>
      </div>
    <% } %>
     
    <% if(success && success.length > 0) { %>
      <div class="alert alert-success alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= success %>
      </div>
    <% } %>
    
    <div class="container">
    
    <main>
      
      <h1>FCC Voting App</h1>
        
        
    
